<launch>
  <include file="$(find myworkcell_moveit_config)/launch/myworkcell_planning_execution.launch"/>

  <node name="fake_ar_data" type="fake_ar_publisher_node" pkg="myworkcell_core" output="screen">
    <param name="x_pos" value="0.5"/>
  </node>

  <node name="descartes_node" type="descartes_node" pkg="myworkcell_core" output="screen"/>

  <node name="vision_node" type="vision_node" pkg="myworkcell_core" output="screen"/>
</launch>
